@{
    ViewData["Title"] = "About";
}

<h1>Thank you for visiting my site.</h1>
This resource is designed for convenient, simple and quick viewing of champion picks on the League of Legends pro scene.
<br />
You can also see the details of builds in a specific game (just click on the date of the event <h5 style="display: inline;">:)</h5> ).
<br />
<br />
If you find any errors, malfunctions in the site, or you have suggestions for improving it, 
you can contact me by mail: <h5 style="display: inline;">mrderwyn@outlook.com</h5>