@model int
@{
    ViewData["Title"] = "Error";
}

<h1>Whoooops</h1>
Looks like we have some issue here. <br />You can continue use @Html.ActionLink("resource", "Index", "Home") ,
while we fixing <h5 style="display: inline;">@Model</h5> problem <h2>:)</h2>

